/* PC */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/* Tablet & mobile */
@media (max-width: 991.98px) {
  /* Ẩn navbar */
  .navbar {
    display: none;
  }

  /* Chuyển logo vào giữa */
  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }

  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    color: #fff;
    width: 24px;
  }

  /* overlay */
  .menu-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  /* Menu drawer */
  .menu-drawer {
    position: fixed;
    background-color: #2e1919;
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translate(-100%);
    padding: 50px;
    transition: 0.5s;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translate(0);
  }

  /* Menu top */
  .close__menu {
    width: 24px;
    color: #fff;
  }
  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #navbar__list--mobile {
    margin-top: 25px;
  }

  .navbar__link {
    display: block;
    font-size: 2rem;
    text-align: left;
  }

  .navbar__link:hover {
    background-color: #00ffff37;
  }

  /* Hero */
  .hero {
    flex-direction: column;
    gap: 50px;
  }
  .hero__content {
    order: 2;
    width: 80%;
    text-align: center;
    margin: 22px auto;
  }
  .hero__media {
    order: 1;
  }
  .hero__cta {
    justify-content: center;
  }

  /* Services */
  .services-bottom {
    flex-direction: column;
    row-gap: 20px;
  }
  .services__img {
    width: 100%;
  }
  .services-list {
    text-align: center;
  }
  .services-item {
    width: 90%;
    text-align: start;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Mobile */
@media (max-width: 767.98px) {
}

.footer {
  display: none;
}
