* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* ===========================================================Common=========================================================== */
a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  width: 205px;
  height: 60px;
  border-radius: 999px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 60px;
}

.btn:hover {
  opacity: 0.7;
}

.heading-lv2 {
  color: #10375c;
  text-align: center;
  font-family: Sora;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 120% */
  letter-spacing: -1px;
}

.desc {
  color: #575f66;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  margin: 18px auto 0px;
}

.control {
  display: flex;
  column-gap: 18px;
  align-items: center;
}

.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #575f66;
  background: #fff;
  color: #575f66;
  cursor: pointer;
  transition: 0.25s;
}

.control__btn:hover {
  background: #2e80ce;
  border-color: #2e80ce;
  color: #fff;
}
/* ===========================================================Header=========================================================== */
header {
  padding-top: 30px;
  background: var(--header-bg);
  min-height: 100vh;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.navbar__link,
.header__action--log-in {
  padding: 8px 21px;
  color: #c9d2da;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.navbar__link--active,
.navbar__link:hover,
.header__action--log-in:hover {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50px;
  position: relative;
  right: 8px;
  top: -3px;
}

.header__action--sign-up {
  width: 104px;
  height: 44px;
  font-size: 1.6rem;
  line-height: 44px;
}

.header__action--log-in {
  margin-right: 7px;
}

/* ===========================================================Hero=========================================================== */
.hero {
  margin-top: 76px;
  display: flex;
}

.hero__content {
  width: 44%;
}

.hero__heading {
  margin-top: 60px;
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
  max-width: 517px;
}

.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  max-width: 468px;
}

.hero__cta {
  margin-top: 38px;
}

.hero__cta--phone {
  margin-left: 38px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.hero__media {
  margin-left: 113px;
  position: relative;
}

.hero__media--img1 {
  width: 330px;
  height: 540px;
  object-fit: cover;
  border-radius: 6px;
  z-index: 1;
}

.hero__media--img2 {
  width: 210px;
  height: 410px;
  object-fit: cover;
  border-radius: 0 6px 6px 0;
  position: absolute;
  top: 45px;
}

/* ===========================================================Services=========================================================== */
.services {
  margin-top: 170px;
}

.services__desc {
  max-width: 468px;
}

.services-bottom {
  display: flex;
  margin-top: 70px;
}

.services__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}

.services-list {
  margin-top: 35px;
  margin-left: 130px;
}

.services-item {
  padding-top: 21px;
  width: 470px;
  height: 128px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  transition: 0.25s;
}

.services-item:hover {
  position: relative;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.services-item:hover .services-item__icon {
  color: #fff;
  background: #2e80ce;
}

.services-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  color: #10375c;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 19px;
  transition: 0.25s;
}

.services-item__content--title {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}

.services-item__content--desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  max-width: 350px;
}

.services__btn {
  margin-top: 55px;
}

/* ===========================================================Works=========================================================== */
.works {
  margin-top: 170px;
  padding: 100px 0;
  background: #f6fbff;
}

.works__heading {
  text-align: left;
}

.works__desc {
  margin: 18px 0 0;
  max-width: 468px;
  text-align: left;
}

.works-list {
  display: flex;
  margin-top: 86px;
  gap: 30px;
}

.works-item {
  padding: 43px;
  width: 370px;
  height: 402px;
  border-radius: 4px;
  background: #fff;
  border: 16px solid #eaf6ff;
}

.works-item__icon {
  width: 72px;
  height: 72px;
}

.works-item__title {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
}

.works-item__desc {
  color: #575f66;
  margin-top: 28px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.works-item__more {
  display: inline-block;
  margin-top: 18px;
  color: #575f66;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.works-item:hover {
  position: relative;
  top: -16px;
  border: 16px solid #2e80ce;
  transition: 0.25s;
}

.works-item:hover .works-item__more {
  color: #2e80ce;
  font-weight: 400;
  transition: 0.25s;
}

/* ===========================================================About=========================================================== */
.about {
  margin-top: 170px;
}

.about__body {
  display: flex;
  justify-content: space-between;
}

.about__media {
  position: relative;
}

.about__img--big {
  width: 512px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);
}

.about__img--small {
  width: 332px;
  height: 370px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 121px;
  left: 238px;
}

.about__content {
  margin-left: 188px;
  margin-top: 82px;
}

.about__desc,
.about__heading {
  text-align: left;
}

.about__btn {
  margin-top: 38px;
}

/* ===========================================================About=========================================================== */
.team {
  margin-top: 253px;
}

.team-header {
  text-align: center;
  margin: 0 auto;
}

.team__btn {
  margin-top: 38px;
}

.team__list {
  margin-top: 70px;
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.team__item--img {
  width: 270px;
  height: 318px;
  border-radius: 6px;
  object-fit: cover;
  display: block;
  transition: 0.5s;
}

.team__item:hover .team__item--img {
  transform: scale(1.1);
}

.team__item--name {
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.team__item--desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86; /* 185.714% */
}

.team__control {
  margin-top: 38px;
  justify-content: center;
}

/* ===========================================================App=========================================================== */
.app {
  margin-top: 265px;
}

.app__body {
  display: flex;
  border-radius: 4px;
  background: #2e80ce;
  position: relative;
  width: 1170px;
  height: 427px;
}

.app__phone {
  width: 284px;
  height: 522px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 70px;
}

.app__content {
  margin-left: 514px;
  min-width: 586px;
}

.app__heading,
.app__desc {
  color: #fff;
  text-align: left;
}

.app__heading {
  max-width: 489px;
  margin-top: 76px;
}

.app__desc {
  max-width: 586px;
}

.app__download {
  margin-top: 38px;
  display: flex;
  gap: 28px;
  align-items: center;
}

.app__download--icon {
  width: 135px;
  height: 40px;
  stroke-width: 1px;
  stroke: #fff;
}

/* ===========================================================App=========================================================== */
.blog {
  margin-top: 170px;
}

.blog__body {
  display: flex;
}

.blog__heading {
  margin-top: 68px;
  text-align: left;
  max-width: 470px;
}

.blog__all {
  display: inline-block;
  margin-top: 28px;
  color: #10375c;
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.56; /* 155.556% */
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.blog__control {
  margin-top: 28px;
}

.blog__list {
  margin-left: 130px;
  display: flex;
  gap: 30px;
}

.blog__item {
  width: 270px;
  height: 375px;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
  overflow: hidden;
  transition: 0.5s;
}

.blog__item--img {
  width: 270px;
  height: 172px;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
  transition: 0.25s;
}

.blog__item--content {
  padding: 18px 22px 22px;
}

.blog__item--title {
  width: 224px;
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.63; /* 162.5% */
}

.blog__item--desc {
  width: 226px;
  margin-top: 10px;
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71; /* 171.429% */
}

.blog__item--more {
  display: inline-block;
  margin-top: 12px;
  color: #10375c;
  font-size: 1.4rem;
}

.blog__item:hover {
  border: none;
  box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.05);
}

.blog__item:hover .blog__item--more {
  color: #2e80ce;
}

.blog__item:hover .blog__item--img {
  transform: scale(1.1);
}

/* ===========================================================Appointment=========================================================== */
.appointment {
  margin-top: 170px;
}

.appointment__body {
  padding: 100px 179px;
  background: #f6fbff;
  text-align: center;
}

.appointment__heading::after {
  content: "";
  display: block;
  width: 136px;
  height: 2px;
  background: #2e80ce;
  margin: 18px auto 0;
}

.appointment__desc {
  max-width: 617px;
  margin: 18px auto 0;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.appointment__btn {
  margin-top: 38px;
}